.about {
  max-width: 500px;
  margin-bottom: 1em;
}

.about-text {
  margin-top: 0;
}

.tech {
  margin-top: 1.5em;
}

.tech-title {
  text-decoration: underline;
}

.dev-icons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 7px;
  margin-top: 0.3em;
  flex-wrap: wrap;
}

.dev-figure {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  margin: 0;
  color: rgba(255, 255, 255, 0);
  transition: 200ms;
  width: 75px;
}

.dev-figure:hover {
  color: rgba(255, 255, 255, 1);
}

.dev-figure figcaption {
  font-weight: bold;
}

.dev-icon {
  max-width: 70px;
  transition: 200ms;
}

.dev-icon:hover {
  scale: 1.1;
}
