.about {
  max-width: 500px;
}

.tech {
  margin-top: 3em;
}

.tech-title {
  text-decoration: underline;
}

.icons {
  display: flex;
  flex-direction: row;
  margin-top: 0.3em;
  flex-wrap: wrap;
}

.dev-icon {
  max-width: 90px;
  transition: 200ms;
}

.dev-icon:hover {
  scale: 1.1;
}
