.about {
  max-width: 500px;
  margin-bottom: 1em;
}

.about-text {
  margin-top: 0;
}

.tech {
  margin-top: 3em;
}

.tech-title {
  text-decoration: underline;
}

.dev-icons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 7px;
  margin-top: 0.3em;
  flex-wrap: wrap;
}

.dev-icon {
  max-width: 70px;
  transition: 200ms;
}

.dev-icon:hover {
  scale: 1.1;
}
