body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  place-items: center;
  padding: 2rem;
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.main {
  margin-top: 2em;
}

.animation {
  position: absolute;
  /* width: 200px; */
  height: 210px;
  left: 0;
  right: 0;
  top: 0;
  /* margin-left: auto;
  margin-right: auto; */
  z-index: -1;
}
