.contact {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.contact-icon {
  max-height: 25px;
  margin-right: 8px;
}

.email {
  display: flex;
}

.phone {
  display: flex;
}

.contact-message {
  margin-top: 1em;
}
