.footer {
  display: flex;
  width: 100%;
  margin-top: auto;
  padding-bottom: 0.5em;
  flex-direction: column;
  gap: 5px;
}

.footer-text {
  font-size: 1em;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 7px;
}

.footer-icon {
  max-width: 40px;
  transition: 100ms;
}

.footer-icon:hover {
  scale: 1.1;
}
