.footer {
  /* keeps the footer stickied to the bottom */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  display: flex;
  padding-bottom: 0.5em;
  flex-direction: column;
  gap: 5px;
  margin-top: auto;
}

.footer-text {
  font-size: 1em;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 7px;
}

.footer-icon {
  max-width: 40px;
}
