.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: center;
  gap: 1em;
}

.project {
  display: flex;
  flex-direction: row;
  gap: 3%;
}

.project-header {
  margin: 0;
  width: 150px;
}

.vertical-line {
  border-left: 2px solid white;
  text-align: center;
}

.project-description {
  width: 450px;
  margin: 0;
}
